<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Total Price</th>
        <th scope="col">Fuel</th>
        <th scope="col">Reading </th>
        <th scope="col">Created</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of fuelList">
        <td>{{item.TotalPrice}}</td>
        <td>{{item.AddedFuel}}</td>
        <td>{{item.MeterReading}}</td>
        <td>{{item.CreatedAt | date:'medium'}}</td>
      </tr>
    </tbody>
  </table>
</div>
